/* Importer des "font" */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap");

@font-face {
  font-family: "font-1";
  src: url(./assets/Noto_Sans/NotoSans-Bold.ttf);
}
/* =================== */

/* BODY */
body {
  font-family: "font-1", serif;
  height: 300vh;
  /* Background */
  background: url(./assets/Background-1.jpg) fixed no-repeat center/cover;

