/* Importer des "font" */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap");

@font-face {
  font-family: "font-1";
  src: url(./assets/Noto_Sans/NotoSans-Bold.ttf);
}
/* =================== */

/* *=Tout */

/* BODY */
body {
  font-family: "font-1", serif;
  height: 300vh;
  /* Background */
  background: url(./assets/Background-1.jpg) fixed no-repeat center/cover;

  /* Pour mettre une couleur faire: `background: rgb(175, 230, 255);` */
}

/* H1 = Titre */
h1 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 2.5rem;
  color: rgb(47, 0, 255);
  text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.39);
  text-align: center;
  font-family: "Roboto Mono", monospace;
  font-weight: bolder;
}

/* H2 = Sous-Titre */
h2 {
  font-family: "font-1", serif;
  text-align: center;
}

/* MAIN */

main {
  background: whitesmoke;
  width: 90%;
  min-height: 500px;
  margin: 10px auto;
  padding: 2px 20px;
  border-radius: 2vh 2vw;
  box-shadow: 5px 4px 12px 0px rgba(0, 0, 0, 0.541);
}

.positioning {
  border: 0.5vh solid rgb(10, 52, 151);
  padding: 30px;
  margin: 20px;
  position: relative;
}

h2 {
  margin: 0;
}

#circle {
  height: 60px;
  width: 60px;
  background: steelblue;
  padding: 20px;
  border-radius: 50%;
  position: absolute;
  bottom: -44%;
  right: 20px;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.233);
}

#rectangle {
  height: 60px;
  width: 80px;
  background: brown;
  padding: 20px;
  position: absolute;
  bottom: -44%;
  right: 150px;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.233);
}
